{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'createNewPage' %}" method="post">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" class="titleBox" name="title" placeholder="Enter new title">
        <br>
        <label for="content">Content:</label><br>
        <textarea name="content"></textarea>
        <br>
        <input type="submit" value="Add New Page" class="btn btn-primary">
    </form>

{% endblock %}